
fastapi
wandb
ray[data,train,tune,serve]
torch -f https://download.pytorch.org/whl/cu118
torchvision -f https://download.pytorch.org/whl/cu118
torchaudio -f https://download.pytorch.org/whl/cu118
einops
python-dotenv
scipy
python-jose
python-multipart
asyncio
threaded
aiokafka
